/* CSS LESS */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjThZlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
.gradient1 {
  background-color: #045de9;
  background-image: -moz-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: -webkit-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
}
.white {
  background-color: #FFFFFF;
}
.responsive-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#root {
  height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}
#root img {
  height: 180px;
  width: auto;
  margin: 15px;
}
#root h1,
#root h2,
#root h3,
#root h4,
#root h5,
#root h6 {
  padding: 15px;
}
#root p {
  word-wrap: break-word;
}
/* LANDING PAGE */
#homePage {
  text-align: center;
  height: inherit;
  margin: 0 auto;
}
#homePage #homePageBanner {
  padding: 20px 0 20px 0;
}
#homePage #homePageCTA .get-started {
  background-color: #54BDF4;
}
#homePage #homePageCTA .get-started:hover {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border: 1px solid #54BDF4;
  transition: 0.3s ease-in-out;
}
#homePage footer {
  background-color: #045de9;
  background-image: -moz-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: -webkit-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  margin-top: 50px;
  padding: 1rem;
}
#homePage footer .homePageFooterIcons {
  margin: 0 10px 0 10px;
  cursor: pointer;
}
/* TODO PAGES */
#todo {
  font-weight: 300;
  text-align: center;
}
#todo .no-task,
#todo .list-title {
  border: none;
}
#todo .list-title {
  font-weight: 700;
  color: #3d3d3d;
}
#todo li {
  justify-content: space-between;
}
#todo .list-group-item .completeBtn {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border: 1px solid #54BDF4;
}
#todo .list-group-item .completeBtn:hover {
  color: #3d3d3d;
  background-color: #54BDF4;
  border: 1px solid #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #mainHeader {
  z-index: 99;
  height: 120px;
  position: sticky;
  top: calc(calc(120px - 70px) * -1);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
#todo #mainHeader .header-inner {
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#todo #mainHeader .header-inner #headerLogo {
  height: calc(70px - 30px);
}
#todo #pageContent {
  margin-top: 3rem;
  /* add bottom margin before fixed-bottom navbar with js code 
          => without margin bottom, no header shrink !
        */
}
#todo #mainFooter {
  background-color: #045de9;
  background-image: -moz-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: -webkit-linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  background-image: linear-gradient(315deg, #045de9 0%, #54BDF4 74%);
  margin: 0;
}
#todo #mainFooter .btn-group .btn {
  background-color: #FFFFFF;
  border: 0.5px solid #ededed;
}
#todo #mainFooter .btn-group .btn:hover {
  color: #3d3d3d;
  background-color: #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #addTask .add-task-form .form-floating:focus-within {
  z-index: 2;
}
#todo #addTask .createBtn {
  background-color: #54BDF4;
}
#todo #addTask .createBtn:hover {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border: 1px solid #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #addTask #notification {
  background-color: #e7f3ed;
  border-radius: 0.25rem;
  width: max-content;
  margin: 0 auto;
  padding: 15px;
}
#todo #addTask .notifEffect {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* SPINNER ANIMATION */
#fetchingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(61, 61, 61, 0.5);
  z-index: 1000;
  display: flex;
  color: #edd831;
  font-size: 5em;
  justify-content: center;
  align-items: center;
}
#fetchingSpinner .spinner {
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
