/* CSS LESS */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0NIpQlx3QUlC5A4PNjThZlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
/* TUTO_REACT */
.tuto_react {
  background-color: #ececec;
  text-align: center;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}
.tuto_react h1 {
  margin: 0 auto;
  color: #54BDF4;
  background-color: #3d3d3d;
  padding: 15px;
  border-radius: 2.5px;
}
.tuto_react img {
  height: 50px;
  width: auto;
  margin: 15px;
}
.tuto_react p {
  font-weight: 700;
  color: #3d3d3d;
}
/* TODO LIST */
#todo {
  color: #3d3d3d;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
}
#todo h1,
#todo h2,
#todo h3,
#todo h4,
#todo h5,
#todo h6 {
  padding: 15px;
}
#todo img {
  height: 180px;
  width: auto;
  margin: 15px;
}
#todo .no-task,
#todo .list-title {
  border: none;
}
#todo .list-title {
  font-weight: 700;
  color: #3d3d3d;
}
#todo li {
  justify-content: space-between;
}
#todo .list-group-item .btn {
  color: #3d3d3d;
  background-color: #54BDF4;
}
#todo .list-group-item .btn:hover {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border: 1px solid #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #todoBanner {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  /* Sticky/fixed navbar */
  width: 100%;
  top: 0;
  /* At the top */
  z-index: 99;
}
#todo #pageContent {
  margin-top: 500px;
  margin-bottom: 120px;
}
#todo #mainFooter {
  background-color: #ededed;
}
#todo #mainFooter .btn-group .btn {
  background-color: #FFFFFF;
  border: 0.5px solid #ededed;
}
#todo #mainFooter .btn-group .btn:hover {
  color: #3d3d3d;
  background-color: #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #homePage {
  padding: 50px 25px;
}
#todo #homePage .get-started {
  background-color: #54BDF4;
}
#todo #homePage .get-started:hover {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border: 1px solid #54BDF4;
  transition: 0.3s ease-in-out;
}
#todo #addTask .add-task-form .form-floating:focus-within {
  z-index: 2;
}
