/* CSS LESS */

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

// My colors
@color1 : #FFFFFF;
@color2 : #3d3d3d;
// @color3 : #61dafb; // bootstrap info
@color3 : #54BDF4;
@color4 : #edd831;
@color5 : #DC3545;
// @color5 : #f56262; // logo's red shirt
@color6 : #ededed;
@font-fam : 'Noto Sans', Arial, Helvetica, sans-serif;


/* TUTO_REACT */
@my-body : .tuto_react;
@my-title : h1;
@my-image : img;

@{my-body} {
    background-color: #ececec;
    text-align: center;
    font-family: @font-fam;

    @{my-title} {
        margin: 0 auto;
        color: @color3;
        background-color: @color2;
        padding: 15px;
        border-radius: 2.5px;
    }

    @{my-image} {
        height: 50px;
        width: auto;
        margin: 15px;
    }

    p {
        font-weight: 700;
        color: @color2;
    }
}


/* TODO LIST */
#todo {
    color: @color2;
    font-family: @font-fam;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 15px;
    }

    img {
        height: 180px;
        width: auto;
        margin: 15px;
    }

    .no-task, .list-title {
        border: none;
    }

    .list-title {
        font-weight: 700;
        color: @color2;
    }

    li {
        justify-content: space-between;
    }

    .list-group-item .btn{
        color: @color2;
        background-color: @color3;
    }

    .list-group-item .btn:hover {
        color: @color2;
        background-color: @color1;
        border: 1px solid @color3;
        transition: 0.3s ease-in-out;
    }
    
    // add bottom margin before fixed-bottom navbar
    .page-content {      
        margin-bottom: 120px;
    }

    #mainFooter {
        background-color: @color6;

        .btn-group {
            // margin: 0 auto; // if d-flex with justify-content-between

            .btn {
                background-color: @color1;
                border: 0.5px solid @color6;
            }

            .btn:hover {
                color: @color2;
                background-color: @color3;
                transition: 0.3s ease-in-out;
            }
        }
    }

    #addTask {
        .add-task-form .form-floating:focus-within {
            z-index: 2;
        }
    }

}